{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1 class="text-center mb-4">About AgriGrow</h1>
            <p class="lead">AgriGrow is a platform dedicated to connecting farmers with trusted fertilizer dealers.</p>
            
            <h3>Our Mission</h3>
            <p>To make quality fertilizers accessible to every farmer while helping dealers grow their business.</p>
            
            <h3>What We Offer</h3>
            <ul>
                <li>Wide range of fertilizer products</li>
                <li>Direct dealer connections</li>
                <li>Competitive pricing</li>
                <li>Reliable delivery services</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}